# .gitmodules - Zenith kernel submodules

[submodule "submodules/mono-zenith"]
	path = submodules/mono-zenith
	url = https://github.com/DeepcometAI/mono-zenith.git
	branch = mono-zenith-1.0

[submodule "submodules/sel4"]
	path = submodules/sel4
	url = https://github.com/sel4/sel4.git

[submodule "submodules/zenith-xnu"]
	path = submodules/zenith-xnu
	url = https://github.com/DeepcometAI/zenith-xnu.git

[submodule "submodules/freebsd"]
	path = submodules/freebsd
	url = https://github.com/FreeBSD/freebsd-src.git
[submodule "submodules/fuchsia"]
	path = submodules/fuchsia
	url = https://fuchsia.googlesource.com/fuchsia
